<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="styles.css">
    <title>Online Grocery</title>

    <link rel="icon" href="shopping-cart.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./js/dropdown.js"></script>
  </head>
  <body>
  	<div class="title">
  		<h1>Experimental Shopping</h1>
		<button type="button" class="btn btn-default btn-lg">
  			<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart
		</button>
	</div>

	<div id="navigation">
		<ul class="nav nav-pills">
  			<li role="presentation" class="dropdown">
    		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      			All Departments <span class="caret"></span></a>
    		<ul class="dropdown-menu">
    			<li><a href="./old_grid.html">Produce</a></li>
    			<li><a href="./old_grid.html">Dairy & Eggs</a></li>
    			<li><a href="./old_grid.html">Snacks</a></li>
    			<li><a href="./old_grid.html">Frozen</a></li>
    		</ul>
  			</li>
		</ul>
	</div>

	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Library</a></li>
	  <li class="active">Data</li>
	</ol>

	<div id="items">
		<div class="row justify-content-center">
  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>

  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>

  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>

  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>

  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>

  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>
		</div>

				<div class="row justify-content-center">
  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>

  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>

  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>

  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>

  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>

  			<div class="col-sm-6 col-md-2">
	    		<div class="thumbnail">
	      			<img src="./images/snapea.jpg" alt="...">
	      			<div class="caption">
	        			<h3>Snapea Crisp</h3>
	        			<p><a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
	      			</div>
	    		</div>
  			</div>
		</div>



	</div>
  </body>
</html>